<div class="container">
  <% if current_user %>
    <a href="/game/create">Start a game</a>
  <% end %>
  <h1>Open games</h1>
  <ul>
  <% @games.each do |game| %>
    <li><a href="/game/join/<%= game.id %>">Join <%= game.id %></a> Created by: <%= game.player1.name %> </li>
  <% end %>
</ul>



</div>
