<div class="container">

  <% if current_user %>
  <a href="/board">Play Game<a>
  <% end %>
  
  <h1>Users waiting to play</h1>
  <ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>



</div>
